{% extends "admin/change_list.html" %}

{% block content_title %}
    {{ block.super }}
    <div style="margin-top:8px; margin-bottom:8px; font-size:1.1em; color:#6366f1; font-weight:700;">Toplam Ürün: {{ toplam_urun }}</div>
{% endblock %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:urun_link_ekle' %}" class="addlink" style="background: #28a745; padding: 10px 15px; color: white; border-radius: 4px; text-decoration: none; font-weight: bold; margin-right: 10px;">
            🔗 AliExpress Linki ile Ürün Ekle
        </a>
    </li>
    <li>
        <a href="{% url 'admin:urun_amazon_link_ekle' %}" class="addlink" style="background: #FF9900; padding: 10px 15px; color: white; border-radius: 4px; text-decoration: none; font-weight: bold;">
            🔗 Amazon Linki ile Ürün Ekle
        </a>
    </li>
    {{ block.super }}
{% endblock %}

